
*.dex

bin/res/crunch/drawable-hdpi/ic_launcher.png

bin/res/crunch/drawable-mdpi/ic_launcher.png

bin/res/crunch/drawable-xhdpi/ic_launcher.png

bin/res/crunch/drawable-xxhdpi/ic_launcher.png

bin/resources.ap_

bin/ModernArtUI.apk

bin/jarlist.cache

bin/dexedLibs/android-support-v4-0ac26ad444c4f9b91185acd568211075.jar

bin/classes/com/example/modernartui/BuildConfig.class

bin/classes/com/example/modernartui/ModernArt.class
